// Functional Variables
$phone-heading-size: 3rem;
$tablet-heading-size: 4rem;
$desktop-heading-size: 5rem;
$input-border-color: rgb(46, 149, 232);
$panel-color-primary: rgb(104, 182, 224);

// Descriptive Variables
$black: #000;

@mixin border {
  border: 1px solid $black;
}

@mixin block-margin {
  margin-left: auto;
  margin-right: auto;
}

.weather {

  &__current {
    @include border;
    @include block-margin;
    background: $panel-color-primary;
    // padding-bottom: 10px;
  }

  &__condition {
    font-size: $phone-heading-size;
  }

  &__query {
    @include border;
    margin: 15px;
  }

  &__forecast {
    @include border;
    @include block-margin;
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;
  }
}

.search {
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;

  &--center {
    @include border;
    @include block-margin;
    float: none;
  }

  &__input {
    border: 1px solid $input-border-color;
  }
}

@media (max-width: 767px) {
  .search__button {
    float: none;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 16px;
    width: 50%;
  }
}

@media (min-width: 768px) {
  .search {
    padding-bottom: 70px;
  }
}
